.Container {
  float: left;
  width: 60%;
  margin: 20px 15% 20px 15%;
  padding: 20px 5% 20px 5%;
  background-color: #f0f0f0;
}
.Col1 {
  float: left;
  width: 20%;
  background-color: white;
}
.Col2 {
  float: left;
  width: 75%;
  margin-left: 5%;
  background-color: white;
}
@media screen and (max-width: 600px) {
  .Container {
    width: 88%;
    margin: 10px 3% 10px 3%;
    padding: 10px 3% 10px 3%;
  }
  .Col1, .Col2 {
    width: 100%;
  }
  .Col2 {
    margin-top: 20px;
    margin-left: 0px;
  }
}