.Background {
  background-color: red;
  width: 70%;
  margin: 50px 15% 0% 15%;
}
.Col1 {
  background-color: blue;
  width: 20%;
  float: left;
}
.Col2 {
  background-color: blue;
  width: 75%;
  margin-left: 5%;
  float: left;
}