.Block {
    float: left;
    border: double 7px gray;
    box-shadow: 5px 5px 5px gray;
    padding: 1%;
    margin-top: 20px;
    width: 96%;
    font-size: 18px;
}
.Title {
    margin: 1% 0 1% 1%;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    animation: rainbow 3s linear infinite;
}
@keyframes rainbow {
    0%{color:red;}
    17%{color:orange;}
    34%{color:yellow;}
    51%{color:green;}
    68%{color:blue;}
    84%{color:indigo;}
    100%{color:violet;}
}
@media screen and (max-width: 800px) {
    .Title{
        font-size: 20px;
    }
    .Block{
        font-size: 12px;
    }
  }
@media screen and (min-width: 800px) and (max-width: 930px){
    .Title{
        font-size: 23px;
    }
    .Block{
        font-size: 14px;
    }
  }
@media screen and (min-width: 930px) and (max-width: 1050px){
    .Title{
        font-size: 25px;
    }
    .Block{
        font-size: 16px;
    }
  }
.Info {
    float: left;
    margin: 1%;
    padding: 1%;
    width: 46%;
}
.Skills{
    float: left;
    margin-top: 4%;
}
.Skill {
    float: left;
    margin: 1%;
    border-radius: 25px;
    min-width: 31%;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}
.Skill:hover {
    background-color: #f0f0f0;
    animation: rainbow 3s linear infinite;
    font-weight: bold   ;
    box-shadow: 5px 5px 5px gray;
}