.Profile {
  float: left;
  border: double 7px gray;
}
.ProfilePicture {
  float: left;
  border-bottom: double 7px gray;
}
.PictureInfo {
  float: left;
  margin-top: 5%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .ProfilePicture {
    width: 30%;
    border-bottom: none;
    border-right: double 7px gray;
  }
  .PictureInfo {
    margin: 25px 3% 0 3%;
    width: 61%;
  }
}