.Profile {
  float: left;
  width: 98%;
  border: double 7px gray;
  box-shadow: 5px 5px 5px gray;
  background-color: white;
}
.ProfilePicture {
  float: left;
  border-bottom: double 7px gray;
}
.PictureInfo {
  float: center;
  margin-top: 5%;
  text-align: center;
  font-size: 17px;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 700px) {
  .ProfilePicture {
    width: 30%;
    border-bottom: none;
    border-right: double 7px gray;
  }
  .PictureInfo {
    margin: 50px 3% 0 3%;
    width: 61%;
    float: left;
  }
}
@media screen and (max-width: 450px) {
    .PictureInfo {
      margin: 30px 3% 0 3%;
      font-size: 12px;
    }
}
@media screen and (max-width: 290px) {
  .PictureInfo {
    margin: 20px 3% 0 3%;
    font-size: 12px;
  }
}